<template name="appChat">

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1><CENTER>GAMETOPS.COM</CENTER></h1>
   </div>
</header>

<div class="navbar">
      <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse"><a class="pull-right" href="#">
                      <img src="searchdaw.jpg" style="width: 40px; height: 40px;" class="media-object">
                    </a>
                              <form class="navbar-search pull-right">
                                <input type="text" class="search-query" placeholder="Search">
                              </form>
            <ul class="nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li class="">
                <a href="#">Games</a>
              </li>
              <li class="">
                <a href="#">Blogs</a>
              </li>
            </ul>

            </div>
        </div>
      </div>
</div>

<div class="container"> 
    <div class="hero-unit">
                  <img src= "/ac.jpg" style="width: 900px; height: 600px;" data-src="holder.js/260x180">     
     </div>
</div>

             
               

            <div class="row">
              <div class="span4">
                <h2>  Games On Demand</h2>
                   <div class="thumbnail">
                    <div class="pull-left">
                    <img src="mkx.jpg" style="width: 300px; height: 200px;" data-src="holder.js/300x200" alt="300x200">
                    <h3><center>Mortal Kombat X</center></h3>
                   </div>
                  </div>
                  <div class="thumbnail">
                    <div class="pull-left">
                    <img src="index.jpg" style="width: 300px; height: 200px;" data-src="holder.js/300x200" alt="300x200">
                    <h3><center>Guitar Hero III</center></h3>
                   </div>
                  </div>
               </div>
           
          
          <div class="span8">
            <div class="bs-docs-example">
                       <div class="media">
                    <a class="pull-left" href="#">
                      <img src="user.jpg" style="width: 64px; height: 64px;" class="media-object" data-src="holder.js/64x64">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Nested media heading</h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.....
                        <a href="#">  Read More.... >>></a>
                    </div>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img src="user2.jpg" style="width: 64px; height: 64px;" class="media-object" data-src="holder.js/64x64">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Nested media heading</h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.....
                              <a href="#">  Read More.... >>></a>
                    </div>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img src="user4.png" style="width: 64px; height: 64px;" alt="64x64" class="media-object" data-src="holder.js/64x64">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading">Nested media heading</h4>
                      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.....
                         <a href="#">  Read More.... >>></a>
                    </div>
                  </div>
                  <h2><br><a href=""><center>Click Here For More Posts</center></a></h2>
            </div>
        </div>

                  <div class="span2">
          <img src="steam.png" style="width: 100px; height: 500px;">
               </div>
     </div>
<footer class="footer">
      <div class="container">
        <p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
        <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links">
          <li><a href="http://blog.getbootstrap.com">Blog</a></li>
          <li class="muted">·</li>
          <li><a href="https://github.com/twbs/bootstrap/issues?state=open">Issues</a></li>
          <li class="muted">·</li>
          <li><a href="https://github.com/twbs/bootstrap/releases">Changelog</a></li>
        </ul>
      </div>
    </footer>
     
</template>